*
plan/
!index.html
!README.md
!LICENSE
!.gitignore
!wrangler.jsonc
!sdk/
!sdk/*
!apps/
!apps/**
!scripts/
!scripts/*
!docs/
!docs/**
!test/
!test/**
!.github/
!.github/**
!vendor/
!vendor/**

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
