*
plan/
!index.html
!README.md
!LICENSE
!.gitignore
!.assetsignore
!wrangler.jsonc
!sdk/
!sdk/*
!apps/
!apps/**
!sys/
!sys/**
!scripts/
!scripts/*
!docs/
!docs/**
!redirects/
!redirects/**
!test/
!test/**
!.github/
!.github/**
!vendor/
!vendor/**

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
.env
agy.mcp.json
cline.mcp.json
cursor.mcp.json
factory.mcp.json
gemini.mcp.json
.vscode/mcp.json
opencode.json
windsurf.mcp.json
